In [2]:
import pandas as pd
import soynlp
import string

In [3]:
# 데이터 읽기

file_path = 'daum_comments.xlsx'
corpus_path = 'daum_dic.csv'

colnames = ['a', 'b', 'c', 'd', 'e']
df = pd.read_excel(file_path, encoding='utf-8', names=colnames)
df['c'] = df['c'].dropna().apply(lambda x:''.join([i for i in x 
                                                  if i not in string.punctuation]))
df.iloc[:, 2:3].to_csv(corpus_path, encoding='utf-8', index=False)

In [4]:
df.head()

,a,b,c,d,e
0,0,20190701213837629,조작조작조작\n한마디로 자유사기꾼들의 일상은 아침에 일어나서 잠 들 때까지 조작 인생이다,35171,1115
1,1,20190701213837629,자칭 보수라는 애국자들\n대한민국 국민이 맞는지\n의심이 간다,11369,591
2,2,20190701213837629,정말 가짜뉴스 어쩔수없는거냐,9082,305
3,3,20190701213837629,어쩌면 이렇게도 집요하게 한 나라의 대통령과 영부인의 흠을 잡기위해 발광을 하는가\...,6343,272
4,4,20190701213837629,이걸 유튜브로 50만이나 봤다니 ㄷㄷㄷ 진짜 국민들 정신 똑바로 차려야한다 저들은 ...,2992,180

In [5]:
len(df)

11418

In [6]:
pd.read_csv(corpus_path, encoding='utf-8').head()

                                                   c
0  조작조작조작\n한마디로 자유사기꾼들의 일상은 아침에 일어나서 잠 들 때까지 조작 인생이다
1                자칭 보수라는  애국자들\n대한민국 국민이 맞는지\n의심이 간다
2                                 정말  가짜뉴스   어쩔수없는거냐
3  어쩌면 이렇게도 집요하게 한 나라의 대통령과 영부인의 흠을 잡기위해 발광을 하는가\...
4  이걸 유튜브로 50만이나 봤다니 ㄷㄷㄷ 진짜 국민들 정신 똑바로 차려야한다 저들은 ...

In [7]:
from soynlp.utils import DoublespaceLineCorpus
from soynlp.noun import LRNounExtractor_v2

sents = DoublespaceLineCorpus(corpus_path, iter_sent=True)

In [8]:
noun_extractor = LRNounExtractor_v2(verbose=True, extract_compound=True)
noun_extractor.train(sents)
nouns = noun_extractor.train_extract(sents, min_noun_frequency=114,
                                     min_noun_score=0.6)

[Noun Extractor] use default predictors
[Noun Extractor] num features: pos=1260, neg=1173, common=12
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 85226 from 45845 sents. mem=0.150 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=198606, mem=0.313 Gb
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 85226 from 45845 sents. mem=0.318 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=198606, mem=0.377 Gb
[Noun Extractor] batch prediction was completed for 31807 words
[Noun Extractor] checked compounds. discovered 8736 compounds
[Noun Extractor] postprocessing detaching_features : 128 -> 128
[Noun Extractor] postprocessing ignore_features : 128 -> 117
[Noun Extractor] postprocessing ignore_NJ : 117 -> 116
[Noun Extractor] 116 nouns (8736 compounds) with min frequency=114
[Noun Extractor] flushing was done. mem=0.387 Gb
[Noun Extractor] 20.39 % eojeols are covered

In [9]:
a = [noun for noun, score in nouns.items() if len(noun) > 1]
a = [i.replace('"', '') for i in a] 
a = [i.replace("'", '') for i in a] 
len(a)

89

In [10]:
a = pd.DataFrame(a, columns=['word'])
a['pos'] = 'NNP'
a = a[a['word'].str[-1] != '들']
a = a.drop_duplicates()
a.head()

   word  pos
0  불매운동  NNP
1  토착왜구  NNP
2  국회의원  NNP
3  일본제품  NNP
4  우리나라  NNP

In [11]:
a.to_csv(corpus_path, encoding='utf-8', index=False, header=False)